.contact-style {
  min-height: calc(100vh - 76px - 539.4px);
}
.container-contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #094b65;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-contact .form {
  margin: 40px;
  width: 100%;
  max-width: 940px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 21px 2px rgb(0, 0, 0, 0.1);
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-contact .contact-form {
  background: #004d7a;
  position: relative;
}

.container-contact .contact-form::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -13px;
  height: 26px;
  width: 26px;
  background-color: #004d7a;
  transform: rotate(45deg);
}
.container-contact .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.container-contact .circle.one {
  height: 130px;
  width: 130px;
  top: 130px;
  right: -41px;
}
.container-contact .circle.two {
  height: 80px;
  width: 80px;
  top: 10px;
  right: 30px;
}

.container-contact form {
  padding: 50px 40px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.container-contact form .title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 20px;
  line-height: 1;
}

.container-contact form .input-container {
  position: relative;
  margin: 1rem 0;
}

.container-contact form .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  padding: 10px 20px;
  background: none;
  color: #fff;
  border-radius: 25px;
  letter-spacing: 0.5px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.3s;
}

.container-contact form textarea.input {
  min-height: 150px;
  border-radius: 20px;
  overflow-y: auto;
  resize: none;
}

.container-contact form .input-container label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  z-index: 1000;
  pointer-events: none;
  transition: 0.5s;
}

.container-contact form .input-container.textarea label {
  top: 10px;
  transform: translateY(0);
}

.container-contact form .btn {
  padding: 8px 17px;
  font-size: 1rem;
  color: #004d7a;
  background: #ffff;
  border: 2px solid #fafafa;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.container-contact form .btn:hover {
  background: transparent;
  color: #fff;
}

.container-contact form .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0px 6px;
  color: transparent;
  z-index: 500;
  pointer-events: none;
}

.container-contact form .input-container span::before,
.container-contact form .input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  /* left:0; */
  top: 50%;
  /* width:100%; */
  width: 50%;
  height: 4px;
  background: #004d7a;
  transform: translateY(-50%);
}

.container-contact form .input-container span::before {
  left: 50%;
}

.container-contact form .input-container span::after {
  right: 50%;
}

.container-contact form .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 30px;
  font-size: 0.8rem;
}

.container-contact form .input-container.focus span::before,
.container-contact form .input-container.focus span::after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  position: relative;
}
.contact-box {
  padding: 0px 30px;
}

.contact-info .title {
  color: #149279;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.contact-info .text {
  font-size: 0.95rem;
  text-align: justify;
  font-weight: 700;
  color: #000;
}

.contact-info .info {
  margin: 40px 0px;
  color: #000;
}
.information {
  display: flex;
  align-items: center;
}

.information .icon {
  font-size: 30px;
  color: rgb(30, 112, 85);
  padding: 0px 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.contact-info h4 {
  color: #07475a;
}
.social-icon .media-icon {
  padding: 0px 15px;
}

.social-icon .media-icon:hover {
  transform: scale(1.05);
}
